<%- include header %>
<center>
 <div class="jumbotron">
 <h1>Welcome <%= user.user_name %> </h1>
 <p>This is the home</p>
 <!-- <img src="" alt="Uniajc-Logo" style="width:400px;height:200px;"> -->
 <br>
 <br>
 <p>
 <a class="btn btn-lg btn-primary" href="/ir" role="button">Go to news »</a>
 <a class="btn btn-lg btn-primary" href="/ir_usuario" role="button">Go to users »</a>
 <a class="btn btn-lg btn-primary" href="/ir_moto" role="button">Go to Motorcycle »</a>
 </p>
 </div>
</center>
 <%- include footer %>